<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssesSuccessVC：</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>估价成功-历史成交-更多</string>
				<key>GLLoggingFuncName</key>
				<string>umeng_evaluaSuccess_deal_more</string>
				<key>GLLoggingSelectorName</key>
				<string>moreCarHisClick:</string>
			</dict>
		</array>
	</dict>
	<key>AssessVC</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>估价-品牌</string>
				<key>GLLoggingFuncName</key>
				<string>evalua_brand</string>
				<key>GLLoggingSelectorName</key>
				<string>ChooseBranchClick::</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>估价-估价按钮</string>
				<key>GLLoggingFuncName</key>
				<string>evalua_button</string>
				<key>GLLoggingSelectorName</key>
				<string>AssessClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>估价-估价文章</string>
				<key>GLLoggingFuncName</key>
				<string>evalua_article</string>
				<key>GLLoggingSelectorName</key>
				<string>HowAssessClick:</string>
			</dict>
		</array>
	</dict>
	<key>TTLoginViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>登录-登录按钮</string>
				<key>GLLoggingFuncName</key>
				<string>myLogin_button</string>
				<key>GLLoggingSelectorName</key>
				<string>seachClick:</string>
			</dict>
		</array>
	</dict>
	<key>TTPEnrollSuccessViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>预约成功-卖车进度</string>
				<key>GLLoggingFuncName</key>
				<string>indexSuccess_progress</string>
				<key>GLLoggingSelectorName</key>
				<string>sellCarClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>预约成功-邀请好友</string>
				<key>GLLoggingFuncName</key>
				<string>indexSuccess_invite</string>
				<key>GLLoggingSelectorName</key>
				<string>recommendClick:</string>
			</dict>
		</array>
	</dict>
	<key>TTPMineMainViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>我的-卖车进度</string>
				<key>GLLoggingFuncName</key>
				<string>my_progress</string>
				<key>GLLoggingSelectorName</key>
				<string>topBtnClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>预约成功-邀请好友</string>
				<key>GLLoggingFuncName</key>
				<string>indexSuccess_invite</string>
				<key>GLLoggingSelectorName</key>
				<string>recommendClick:</string>
			</dict>
		</array>
	</dict>
	<key>TTPRatioViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>品牌残值-品牌</string>
				<key>GLLoggingFuncName</key>
				<string>indexChart_brand</string>
				<key>GLLoggingSelectorName</key>
				<string>brandButtonDidClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>品牌残值-卖车按钮</string>
				<key>GLLoggingFuncName</key>
				<string>indexChart_sellButton</string>
				<key>GLLoggingSelectorName</key>
				<string>sellCarClick:</string>
			</dict>
		</array>
	</dict>
	<key>TTPSellCarViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-卖车按钮1</string>
				<key>GLLoggingFuncName</key>
				<string>index_sellButton1</string>
				<key>GLLoggingSelectorName</key>
				<string>sellCarClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-最新成交-更多</string>
				<key>GLLoggingFuncName</key>
				<string>index_deal_more</string>
				<key>GLLoggingSelectorName</key>
				<string>moreNewDeal:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-品牌残值-更多</string>
				<key>GLLoggingFuncName</key>
				<string>index_chart_more</string>
				<key>GLLoggingSelectorName</key>
				<string>moreRatio:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-门店</string>
				<key>GLLoggingFuncName</key>
				<string>index_store</string>
				<key>GLLoggingSelectorName</key>
				<string>storeImageClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-邀请好友</string>
				<key>GLLoggingFuncName</key>
				<string>index_invite</string>
				<key>GLLoggingSelectorName</key>
				<string>inviteImageClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-关于-更多</string>
				<key>GLLoggingFuncName</key>
				<string>index_about_more</string>
				<key>GLLoggingSelectorName</key>
				<string>moreAbout:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-关于-新闻1</string>
				<key>GLLoggingFuncName</key>
				<string>index_about_new1</string>
				<key>GLLoggingSelectorName</key>
				<string>firstNewsClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-关于-新闻2</string>
				<key>GLLoggingFuncName</key>
				<string>index_about_new2</string>
				<key>GLLoggingSelectorName</key>
				<string>secondNewsClick:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>常见问题-问题4</string>
				<key>GLLoggingFuncName</key>
				<string>index_faq4</string>
				<key>GLLoggingSelectorName</key>
				<string>needInfoButtonClicke:</string>
			</dict>
			<dict>
				<key>GLLoggingEventName</key>
				<string>卖车-卖车按钮2</string>
				<key>GLLoggingFuncName</key>
				<string>index_sellButton2</string>
				<key>GLLoggingSelectorName</key>
				<string>bottomButtonClick:</string>
			</dict>
		</array>
	</dict>
	<key>TTPSetingTableViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>设置-退出登录</string>
				<key>GLLoggingFuncName</key>
				<string>mySetting_logout</string>
				<key>GLLoggingSelectorName</key>
				<string>loginOutRequest</string>
			</dict>
		</array>
	</dict>
	<key>WechatLoginViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>微信登录</string>
				<key>GLLoggingFuncName</key>
				<string>myLogin_wechat</string>
				<key>GLLoggingSelectorName</key>
				<string>wechatLoginClick:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
